{{> header }}

<div class="container-fluid article-container">
    {{#if article}}
    {{#each article}}
    <div class="card" data-_id={{this._id}}>
        <div class="card-header">
            <h3>
                <a class="article-link" target="_blank" rel="noopener noreferrer"
                    href={{this.url}}>{{this.headline}}</a>
                <div class="btnContainer">
                    <a class="btn btn-danger delete">Delete From Saved</a>
                    <a class="btn btn-info notes">Article Notes</a>
                </div>
            </h3>
        </div>
        <div class="card-body">{{this.summary}}</div>
    </div>
    {{/each}}
</div>
{{else}}
<div class="alert alert-warning text-center">
    <h4>Uh Oh. Looks like we don't have any saved articles.</h4>
</div>
<div class="card">
    <div class="card-header text-center">
        <h3>Would You Like to Browse Available Articles?</h3>
    </div>
    <div class="card-body text-center">
        <h4>
        </h4>
        <h4>
            <a href="/">Browse Articles</a>
        </h4>
    </div>
</div>
{{/if}}

{{> footer }}

<script src="/assets/javascript/savedpage_clickhandle.js"></script>